.SideBarWrapper {
    background-color: #222d32 !important;
    color: white;
    font-family: 'Inter' !important;

    .ant-menu-item.ant-menu-item-selected {
        background-color: #222d32;
        color: #b8c7ce
    }

    @media only screen and (max-width: 860px) {
        display: none;
    }
}

@media only screen and (min-width: 860px) {
    .drawer {
        display: none;
    }

    .ant-drawer-content-wrapper {
        box-shadow: none !important;
    }

    .ant-drawer {
        inset: unset !important;
    }
}

.ant-drawer-header {
    border-bottom: 0 !important
}

.logoHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #377fa9;
    color: white;
    height: 50px;

    &:hover {
        color: white;
    }
}

.menu-drawer {
    background-color: white;
    color: black;

    .ant-menu-item {
        &:hover {
            color: black !important
        }
    }
}
